---
import { basics } from "@cv";

// const { summary } = basics;
---

<section>
  <h2>Sobre mí</h2>
  <p>
    Soy un apasionado desarrollador frontend con más de un año de experiencia en
    la industria, cuyo interés y habilidades se extienden más allá de la
    interfaz de usuario. Mi enfoque se centra en la creación de experiencias de
    usuario excepcionales y la optimización de aplicaciones en el lado del
    cliente. Mi bagaje incluye conocimientos sólidos en el desarrollo frontend y
    backend, así como en el aseguramiento de calidad.
  </p>
</section>

<style>
  h2 {
    font-size: 60px;
    font-weight: 500;
  }
</style>
