<section>
  <h2>Experiencia</h2>
  <ul>
    <li>
      <div class="content-experience">
        <img src="/frontend.svg" />
        <article>
          <header>
            <div>
              <h3>Atix Digital S.A.S</h3>
              <h4>Desarrollador Frontend</h4>
            </div>
            <time>07/2022 - Actual</time>
          </header>
          <footer>
            <p>
              Como desarrollador Frontend me centré en el desarrollo y
              mantenimiento de aplicaciones web, asegurando un rendimiento
              óptimo y una experiencia de usuario excepcional. Identifiqué y
              resolví problemas de rendimiento, actualicé regularmente las
              bibliotecas y dependencias, y colaboré con equipos de diseño y
              backend para una integración fluida. Participé en revisiones de
              código para mantener la calidad del software, y me enfocé en el
              desarrollo de aplicaciones responsivas y compatibles con diversos
              dispositivos. Utilicé herramientas como Git para la gestión de
              versiones y brindé capacitación a los usuarios finales. Mi trabajo
              incluía el diseño y desarrollo de aplicaciones con HTML, CSS,
              JavaScript, React y Next, la creación de landing pages y
              microsites, y la integración de APIs y servicios web de terceros
              para ampliar las funcionalidades. Colaboré con equipos
              multidisciplinarios para desarrollar soluciones web integrales y
              eficientes, contribuyendo al éxito y crecimiento de la empresa.
            </p>
          </footer>
        </article>
      </div>
      <hr />
    </li>

    <li>
      <div class="content-experience">
        <img src="/qa.svg" />
        <article>
          <header>
            <div>
              <h3>Cari AI</h3>
              <h4>Analista QA</h4>
            </div>
            <time>02/2022 - 09/2022</time>
          </header>
          <footer>
            <p>
              Como Analista QA, mi labor fue esencial para asegurar la calidad
              del producto final en el desarrollo de software. Mi rol abarcó
              planes de prueba hasta la identificación y documentación de
              defectos, colaborando con el equipo de desarrollo para su
              resolución. Además, contribuí significativamente a la mejora
              continua del proceso de control de calidad, promoviendo una
              cultura de excelencia y asegurando que el software cumplía con los
              más altos estándares de calidad y funcionalidad.
            </p>
          </footer>
        </article>
      </div>
      <hr />
    </li>
  </ul>
</section>

<style>
  ul {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .content-experience {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
  }
  hr {
    border: none;
    height: 1px;
    color: #0f1b61;
    background-color: #0f1b61;
    opacity: 0.275;
  }
  img {
    max-width: 250px;
    max-height: 270px;
  }
  article {
    width: 50vw;
    text-align: justify;
  }
  article h3 {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
  }
  article h4 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  time {
    font-size: 1rem;
  }
</style>
